<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Excel Data Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
    .card {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: 0.3s;
    }

    .card:hover {
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    .card-body p {
        margin-bottom: 0.5rem;
    }
    </style>


</head>
<body>
<div class="container">
    <h1 class="mt-5">Recherche dans Excel</h1>
    <form id="search-form" method="POST" enctype="multipart/form-data" class="mt-3">
        <div class="form-group">
            <label for="file">Fichier Excel :</label>
            <input type="file" name="file" required class="form-control-file">
        </div>
        <div class="form-group">
            <label for="search_value">Valeur à rechercher :</label>
            <input type="text" name="search_value" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
    <h2 class="mt-5">Résultats</h2>
    <div id="results" class="mt-3"></div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    $("#search-form").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/",
            data: new FormData(this),
            processData: false,
            contentType: false,
            success: function (data) {
                $("#results").empty();
                if (data.error) {
                    $("#results").append("<p class='text-danger'>" + data.error + "</p>");
                } else if (data.results && data.results.length > 0) {
                    data.results.forEach(function (result) {
                        var resultCard = "<div class='card mb-3'>";
                        resultCard += "<div class='card-body'>";
                        for (var key in result) {
                            resultCard += "<p><b>" + key + ":</b> " + result[key] + "</p>";
                        }
                        resultCard += "</div>";
                        resultCard += "</div>";
                        $("#results").append(resultCard);
                    });
                } else {
                    $("#results").append("<p>Aucun résultat trouvé.</p>");
                }
            }
        });
    });
});
</script>
</body>
</html>
